.popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.popup.visible {
  display: block;
}

.popup .popup-content {
  position: relative;
}

.popup .close {
  position: absolute;
  bottom: 0px;
  right: 10px;
  cursor: pointer;
  z-index: 2;
  color: red;
}

.popup h2 {
  margin-top: 0;
}

.app {
  text-align: center;
}